body 
{
  background-color: #a26ef5;
  text-align: center;
}
h1 
{
  color: rgb(31, 6, 102);
  border-style: solid;
  border-color:rgb(180, 34, 248);  
  border-width:2px;
  padding: 10px;
}
#nome
{
  text-decoration: underline;
  font-size:40px;
  color: rgb(53, 9, 136);
  background: rgb(189, 89, 255);
}
a
{
  color: rgb(13, 13, 116);
  font-size: 20px;
  border-style: dashed;
  border-color: rgb(22, 10, 90);
  border-width: 2px;
  padding: 10px;
  border-radius: 20px;
}

p{
  color: rgb(18, 5, 63);
  word-spacing: 10px;
  font-variant: small-caps;
  font-size: 20px;
  font-family: Arial;
}

.informacoes{
    color: rgb(46, 25, 97);
    font-size: 18px;
}